extends layout

block head
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
    title=platinum
    link(rel='stylesheet', href='/stylesheets/swag_style.css')
    script(src='javascripts/socket.io/socket.io.js')
    script(src='javascripts/easeljs-0.7.1.min.js')
    script(src='javascripts/client.js')
    script(src='core/towers/tower.js')
    script(src='core/towers/factory.js')
    script(src='core/creeps/creep.js')
    script(src='core/creeps/creep_fast.js')
    script(src='core/creeps/creep_slow.js')
    script(src='core/creeps/factory.js')
    script(src='core/engine.js')
    script(src='core/gamestate.js')
    script(src='core/land.js')
    script(src='core/balance.js')
    script(src='javascripts/Renderer.js')
    script(src='core/Game.js')

block content
    body(onload='clientInit()')
        #gameContainer
            #infoBar
            #maps
            #selectorBar
            #tick
            #average-lag


