extends layout


block content

    #title.centered
        Platinum Tower Defense

    div.container
        if !user
            p Login or Register with:
            a(href="/auth/google" class="btn btn-danger")
                span(class="fa fa-google-plus") Google
    div.container
        p.
            This is a platform for playing tower defense.
        ul
            li
                play against friends
            li
                write a bot