doctype html
html
    head
        title= 'platinum'
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/swag_style.css')

        block head
    body
        nav.navbar.navbar-inverse(role="navigation")
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/")
                        | Platinum
                .collapse.navbar-collapse
                    ul.nav.navbar-nav

                            if user
                                li
                                    a(href="/game") The Game
                                li
                                    a(href="/auth/logout") Logout
                            else
                                li
                                    a(href="/") login
        block content