html, body {
  background: #212121;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* DOM object needs a width for centering to apply */
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

canvas {
    background: #666666;
}

div#title {
    width: 500px;
    text-align: center;
    font-size: 30px;
}




.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


div#gameContainer{
    text-align: center;
    margin: auto auto;
}
div#gameContainer > * {
    text-align: left;

}
.infoBar{
    text-align: left;
    margin: 0 auto;
}
.infoBarBox{
    display: inline-block;
    text-align: left;
    margin: 0em;
}
.selectorBar {
    text-align: left;
    margin: 0 auto;

}

.selectorBarBox{
    display: inline-block;
    text-align: left;
    margin: 0em;
}


.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
